@import "tailwindcss";
@import "tailwind-animations";

@plugin "@toolwind/corner-shape";
@plugin "@tailwindcss/typography";

@custom-variant tooltip (& [data-tooltip]);

@theme inline {
  --font-dragon-hunter: var(--dragon-hunter);

  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-card: oklch(16.029% 0.00168 16.738);
  --color-card-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.269 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-border: oklch(1 0 0 / 10%);
  --color-input: oklch(1 0 0 / 15%);
  --color-ring: oklch(0.556 0 0);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius: 0.625rem;
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50 box-border scroll-smooth;
  }

  button,
  a {
    @apply cursor-pointer;
  }
}
